
00,05,10,15,20,25,30,35,40,45,50,55 * * * * start_connect('N4VFF-2') unless connected('N4VFF-2')

# Mantener file system
0 0 * 1-12 * spawn("/spider/local_data/debug -type f -mtime +31 | xargs rm -rf")
2 0 * 1-12 * spawn("find /spider/local_data/log -type f -mtime +62 | xargs rm -rf")
4 0 * 1-12 * spawn("find /spider/local_data/spots -type f -mtime +31 | xargs rm -rf")

# AutoUpdate USDB
0 1 * * 1,3,5  spawn("cd /tmp; wget -qN ftp://ftp.w1nr.net/usdbraw.gz; /spider/perl/create_usdb.pl usdbraw.gz")
5 1 * * 1,3,5  run_cmd("load/usdb")
10 1 * * 1,3,5 spawn("rm /tmp/usdbraw.gz")

# AutoUpdate Keps
0 2 * * 2,4,6  spawn("cd /tmp; wget -qN http://www.amsat.org/amsat/ftp/keps/current/nasabare.txt; /spider/perl/convkeps.pl -p nasabare.txt")
5 2 * * 2,4,6  run_cmd("load/keps")
10 2 * * 2,4,6 spawn("rm /tmp/nasabare.txt")

# AutoUpdate CTY.DAT
0 3 * * 0,2,5 spawn("cd /spider/local_data; wget -qN http://www.country-files.com/cty/cty.dat")
0 3 * * 0,2,5 spawn("cd /spider/local_data; wget -qN http://www.country-files.com/cty/wpxloc.raw")
2 3 * * 0,2,5 spawn("/spider/perl/create_prefix.pl")
3 3 * * 0,2,5 run_cmd("load/prefix")

# Estadisticas MQTT JSON
#* * * * * run_cmd("estadisticas_json")
