# Actualizado a 20220104 EA3CV
# modified 20200523 G1TLH

# Do not use & on the end of "spawn" or "spawn_cmd" as the commands are already in background. You don't need to background them again (and you may not get what you want).

# Autoarranque de las conexiones con los nodos
00,10,20,30,40,50 * * * * start_connect('AE5E')     unless connected('AE5E')
00,10,20,30,40,50 * * * * start_connect('EA4URE-5') unless connected('EA4URE-5')
00,10,20,30,40,50 * * * * start_connect('F1OYP-6')  unless connected('F1OYP-6')
05,15,25,35,45,55 * * * * start_connect('F4EYQ-1')  unless connected('F4EYQ-1')
05,15,25,35,45,55 * * * * start_connect('IK8HJC-6') unless connected('IK8HJC-6')
05,15,25,35,45,55 * * * * start_connect('IW9EDP-6') unless connected('IW9EDP-6')
00,10,20,30,40,50 * * * * start_connect('N0OJ-7')   unless connected('N0OJ-7')
00,10,20,30,40,50 * * * * start_connect('N5WLS-2')  unless connected('N5WLS-2')
00,10,20,30,40,50 * * * * start_connect('N6WS-6')   unless connected('N6WS-6')
00,10,20,30,40,50 * * * * start_connect('SV5FRI-1') unless connected('SV5FRI-1')
00,10,20,30,40,50 * * * * start_connect('VE7CC-1')  unless connected('VE7CC-1')
05,15,25,35,45,55 * * * * start_connect('VE9SC')    unless connected('VE9SC')
05,15,25,35,45,55 * * * * start_connect('WB3FFV-2') unless connected('WB3FFV-2')

* * * * * start_connect('SK0MMR') unless connected('SK0MMR')
* * * * * start_connect('SK1MMR') unless connected('SK1MMR')

# AutoUpdate DXSpider Server
#0 1 * * * spawn("cd /spider; git reset --hard; git pull")

# Exportar usuarios
20 0 * * 0,2,5 run_cmd("export_users")

# Mantener file system
#0 0 * 1-12 * spawn("/spider/local_data/debug -type f -mtime +31 | xargs rm -rf")
#2 0 * 1-12 * spawn("find /spider/local_data/log -type f -mtime +62 | xargs rm -rf")
#4 0 * 1-12 * spawn("find /spider/local_data/spots -type f -mtime +31 | xargs rm -rf")

# Bot
0 0 * 1-12 * spawn('pkill -f "/usr/bin/perl -w /spider/local_cmd/bot_conn.pl EA3CV-2"')
1 0 * 1-12 * spawn("/usr/bin/perl -w /spider/local_cmd/bot_conn.pl EA3CV-2")
#0 12 * * *   run_cmd("neighbours.pl EA3CV-2")
#0 00,03,06,09,12,15,18,21 * * *   run_cmd("bot_stad EA3CV-2")
#0 * * * *   run_cmd("bot_stad EA3CV-2")

# Generación de informes
#30 0 * * * spawn("/usr/bin/perl -w /spider/contrib/ea3cv/make_list_conn.pl")
#35 0 * * * spawn("/usr/bin/perl -w /spider/contrib/ea3cv/make_stat_call_spots.pl EA3CV-2")

# AutoUpdate USDB
0 1 * * 1,3,5 spawn("cd /tmp; wget -qN ftp://ftp.w1nr.net/usdbraw.gz; /spider/perl/create_usdb.pl usdbraw.gz")
5 1 * * 1,3,5 run_cmd("load/usdb")
10 1 * * 1,3,5 spawn("rm /tmp/usdbraw.gz")

# AutoUpdate Keps
0 2 * * 2,4,6 spawn("cd /tmp; wget -qN http://www.amsat.org/amsat/ftp/keps/current/nasabare.txt; /spider/perl/convkeps.pl -p nasabare.txt")
5 2 * * 2,4,6 run_cmd("load/keps")
10 2 * * 2,4,6 spawn("rm /tmp/nasabare.txt")

# Please put these files in /spider/local_data, /spider/data is now reserved for G1TLH issued stuff. So for
# prefix data, A git pull could update the prefix files in /spider/data (when I remember to do it).
# Stuff that you can alter or generate goes in local_data, dxspider maintained files goes into data.
# The node will use whichever version of a file is the latest, Just like /spider/cmd and /spider/local_cmd and
# /spider/perl and /spider/local.

# AutoUpdate CTY.DAT
0 3 * * 0,2,5 spawn("cd /spider/local_data; wget -qN http://www.country-files.com/cty/cty.dat")
0 3 * * 0,2,5 spawn("cd /spider/local_data; wget -qN http://www.country-files.com/cty/wpxloc.raw")
2 3 * * 0,2,5 spawn("/spider/perl/create_prefix.pl")
3 3 * * 0,2,5 run_cmd("load/prefix")

# Anuncios
0 2 * * *  run_cmd('ann FULL DX Spider EA3CV-2 dxcluster.cronux.net 7300 with Quality Filters for RBN')
0 16 * * * run_cmd('ann FULL DXSpider EA3CV-2 dxcluster.cronux.net 7300 with Quality Filters for RBN')
0 12 * * * run_cmd('ann FULL DX Cluster EA3CV-2 dxcluster.cronux.net 7300')
0 22 * * * run_cmd('ann FULL DX Spider EA3CV-2 dxcluster.cronux.net 7300 with Quality Filters for RBN')

# Grabar comandos
#33 * * * * run_cmd('save /tmp/nodos1 , "rcmd wb3ffv-2 sh/c all"')
#35 * * * * run_cmd('save /tmp/nodos2 , "rcmd wa9pie-2 sh/c all"')

# * * * * *  comando a ejecutar
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ └───── dia de la semana (0 - 6) (0 a 6 es de Domingo a Sábado; 7 es también Domingo
# │ │ │ └────────── mes (1 - 12)
# │ │ └─────────────── día del mes (1 - 31)
# │ └──────────────────── hora (0 - 23)
# └───────────────────────── min (0 - 59)
